<main class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="info center aboutfontcolor">
                    {{principal}}
                </p>
                <hr>
                <p class="info aboutp fontp">
                    {{parrafo}}
                </p>
            </div>
        </div>
    </div>
</main>

<div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="assets/img/about.jpg"></div>
<hr>

<section class="secondary">
    <div class="container">
        <div class="row">
            <div class="col col-0 col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="box">
                    <span style="--i:1;"><img src="assets/img/about/photo.jpg" alt=""></span>
                    <span style="--i:2;"><img src="assets/img/about/photo2.jpg" alt=""></span>
                    <span style="--i:3;"><img src="assets/img/about/photo3.jpg" alt=""></span>
                    <span style="--i:4;"><img src="assets/img/about/photo4.jpg" alt=""></span>
                    <span style="--i:5;"><img src="assets/img/about/photo5.jpg" alt=""></span>
                    <span style="--i:6;"><img src="assets/img/about/photo6.jpg" alt=""></span>
                </div>
            </div>
            <div class="col col-0 col-sm-0 col-md-4 col-lg-4 col-xl-4"></div>
        </div>
    </div>
    <hr>
    <div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="assets/img/about/photo2.jpg" style="margin-bottom:60px;">
    </div>
</section>