<div class="container">
    <div class="row">
        <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>

        <div class="c-col col-12 col-sm-12 col-md-8 col-lg-8 enquiryform">
            <div class="card-header">
                <h3 class="mb-0" style="color:white">Registro</h3>
            </div>
            <div class="card-body" style="border:none; height:auto;">
                <form class="form">
                    <div class="form-group">
                        <label for="email" style="color:white">Usuario</label>
                        <input type="text" id="email" class="form-control" [(ngModel)]="registerUserData.email"
                            name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password" style="color:white">Contraseña</label>
                        <input type="password" id="password" class="form-control"
                            [(ngModel)]="registerUserData.password" name="password" required>
                    </div>
                    <button type="button" (click)="registerUser()" class="btn btn-success float-right"
                        style="margin-top:10px; margin-bottom:16px;">Registrarse</button>
                </form>
            </div>
        </div>

        <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>
    </div>
</div>