<main id="termsofservice" [ngClass]="{ 'router-animation': animation === true }">
  <section class="termssection">
    <h1 class="center policiesfontcolor">{{ principal }}</h1>
    <div class="container">
      <div class="row justify-content-center" *ngFor="let termsofservice of termsofservices">
        <div class="c-col col-12 col-sm-10 col-md-8 col-lg-8 policiesfont">
          <div class="card termsofservicecard">
            <h2 class="card-title center titulo-linksimportantes">
              {{ termsofservice.titulo }}
            </h2>
            <ul class="list-group list-group-flush borderservice">
              <li class="list-group-item backgroundservice" *ngIf="termsofservice.parrafo">
                {{ termsofservice.parrafo }}
              </li>
              <li class="list-group-item backgroundservice" *ngIf="termsofservice.parrafo2">
                {{ termsofservice.parrafo2 }}
              </li>
              <li class="list-group-item backgroundservice" *ngIf="termsofservice.parrafo3">
                {{ termsofservice.parrafo3 }}
              </li>
              <li class="list-group-item backgroundservice" *ngIf="termsofservice.parrafo4">
                {{ termsofservice.parrafo4 }}
              </li>
              <li class="list-group-item backgroundservice" *ngIf="termsofservice.parrafo5">
                {{ termsofservice.parrafo5 }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>