<footer class="text-white text-center text-lg-start colorfooter">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow us</h5>
              <p><a href="https://www.facebook.com/BirelloGallery"><img src="assets/img/footer/fb.png"></a><a href="https://www.instagram.com/birellogallery/"><img src="assets/img/footer/is.png"></a><a href="https://wa.me/5491164816622"><img src="assets/img/footer/wa.png"></a></p>
        </div>
        <div class="col-lg-0 col-md-0 mb-4 mb-md-0">
          <h5 class="text-uppercase"></h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white"></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 importantlinks">
          <h5 class="text-uppercase mb-0">Important links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/refundpolicy#refundpolicy" class="text-white">Refund policy</a>
            </li>
            <li>
              <a href="/privacypolicy#privacypolicy" class="text-white">Privacy policy</a>
            </li>
            <li>
              <a href="/termsofservice#termsofservice" class="text-white">Terms of service</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 copyright">
      © 2021 Copyright: 
      <a class="text-white" href="/">Birello Gallery</a>
      - Buenos Aires, Argentina.
    </div>
  </footer>