<main class="p-5" id="miscellaneous">
  <section>
    <h1 class="text-center mb-5 title">{{ principal }}</h1>
    <div class="container">
      <div class="row justify-content-center">
        <ng-container  *ngFor="let pub of insta; let i = index;">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngIf="i + 1 === insta.length"
        #theLastList>
          <div class="imagenes">
            <a [href]="pub.permalink"><img class="img-grid" [src]="pub.media_url"
                [alt]="pub.username+'instagram images'" /></a>
            <p class="centered">{{ pub.caption }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"  *ngIf="i + 1 !== insta.length">
          <div class="imagenes">
            <a [href]="pub.permalink"><img class="img-grid" [src]="pub.media_url"
              [alt]="pub.username+'instagram images'" /></a>
            <p class="centered">{{ pub.caption }}</p>
          </div>
        </div>
      </ng-container>
      </div>
    </div>
  </section>
</main>

<div [ngClass]="{ contenedor_spinner: loader === true }">
  <div [ngClass]="{ spinner: loader === true }"></div>
</div>