<main id="refundpolicy">
  <section>
    <h1 class="center policiesfontcolor" style="margin-top: 20px">
      {{ principal }}
    </h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="c-col col-12 col-sm-12 col-md-8 col-lg-8 policiesfont">
          <div class="card termsofservicecard">
            <h2 class="card-title center titulo-linksimportantes">
              {{ titulo }}
            </h2>
            <ul class="list-group list-group-flush borderservice">
              <li class="list-group-item backgroundprivacy">
                {{ text }}
                <a class="linkpainting" href="mailto:ignaciobirello@hotmail.com">{{ mail }}</a>
                {{ textextra }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>