<main id="refundpolicy">
    <section class="refundsection">
        <h1 class="center policiesfontcolor" style="margin-top:20px;">{{principal}}</h1>
        <div class="container">
            <div class="row">
                <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>
                <div class="c-col col-12 col-sm-12 col-md-8 col-lg-8 policiesfont">
                    <div class="card termsofservicecard">
                        <h5 class="card-title center">{{titulo}}</h5>
                        <ul class="list-group list-group-flush borderservice">
                            <li class="list-group-item backgroundprivacy">{{text}} <a
                                    href="mailto:ignaciobirello@hotmail.com">{{mail}}</a> {{textextra}}</li>
                        </ul>
                    </div>
                </div>
                <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </section>
</main>