<section class="container">
  <div class="header-container text-center">
    <div>
      <header>
        <h2>Create new painting</h2>
      </header>
      <p>Title, subtitle, description, image, dimension, characteristics and link are required</p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formData">
    <span class="p-float-label mb-5">
      <input type="text" id="title" name="title" formControlName="title" pInputText required />
      <label for="title">Title</label>
    </span>
    <span class="p-float-label mb-5">
      <input type="text" id="subtitle" name="subtitle" formControlName="subtitle" pInputText required />
      <label for="subtitle">Subtitle</label>
    </span>
    <span class="p-float-label mb-5">
      <textarea name="description" id="description" rows="4" formControlName="description" pInputTextarea
        required></textarea>
      <label for="description">Description</label>
    </span>
    <span class="p-float-label mb-5">
      <input type="text" id="dimension" name="dimension" formControlName="dimension" pInputText required />
      <label for="dimension">Dimension</label>
    </span>
    <span class="p-float-label mb-5">
      <input type="text" id="characteristics" name="characteristics" formControlName="characteristics" pInputText
        required />
      <label for="characteristics">Characteristics</label>
    </span>
    <span class="p-float-label mb-5">
      <input type="link" id="link" name="link" formControlName="link" pInputText required />
      <label for="link">Link</label>
    </span>
    <span class="p-float-label mb-5">
      <input type="link" id="link2" name="link2" formControlName="link2" pInputText required />
      <label for="link2">Secondary link</label>
    </span>
    <button type="submit" class="custom-btn" pRipple [disabled]="formData.invalid">Submit</button>
  </form>
</section>