<main>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="c-col col-10 col-sm-10 col-md-8 col-lg-6 enquiryform">
          <h2 class="center contactcolor">Actualiza el token de instagram</h2>
          <form #tokenUpdateForm="ngForm" (ngSubmit)="onSubmit();">
            <div class="form-group">
              <label class="formlabel" for="token">Token</label>
              <input type="text" class="form-control" id="token" placeholder="Token" name="token" #token="ngModel"
                [(ngModel)]="tokendata.token" required />
              <small style="color: rgb(201, 201, 201)" *ngIf="!token.valid && token.touched">El token no es
                valido</small>
            </div>
            <input type="submit" class="btn btn-light btncustomcontact boxshadow" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </section>
</main>