<main id="paintings" class="p-5">
  <section>
    <div class="container">
      <div class="row align-items-center" *ngIf="paintings">
        <div class="col-sm-12 col-md-7 col-lg-7">
          <img class="img-main" [src]="paintings.image0url" [alt]="paintings.titulo" />
          <div class="preview">
            <img (click)="lightbox(0)" *ngIf="paintings.image0url" [src]="paintings.image0url"
            class="img-small" [alt]="paintings.titulo" />
            <img (click)="lightbox(1)" *ngIf="paintings.image1url" [src]="paintings.image1url"
              class="img-small" [alt]="paintings.titulo" />
            <img (click)="lightbox(2)" *ngIf="paintings.image2url" [src]="paintings.image2url"
              class="img-small" [alt]="paintings.titulo" />
            <img (click)="lightbox(3)" *ngIf="paintings.image3url" [src]="paintings.image3url"
              class="img-small" [alt]="paintings.titulo" />
            <img (click)="lightbox(4)" *ngIf="paintings.image4url" [src]="paintings.image4url"
              class="img-small" [alt]="paintings.titulo" />
            <img (click)="lightbox(5)" *ngIf="paintings.image5url" [src]="paintings.image5url"
              class="img-small" [alt]="paintings.titulo" />
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
          <h2>{{paintings.titulo}}</h2>
          <hr />
          <h3>{{paintings.subtitulo}}</h3>
          <hr />
          <p><span>Dimensions:</span> {{paintings.dimension}}</p>
          <p><span>Characteristics:</span> {{paintings.characteristics}}</p>
          <p class="descripcion"><span>Description:</span> {{paintings.descripcion}}</p>
          <span class="seeMore" (click)="seeMore($event);">See more</span>
          <ul *ngIf="paintings.link.length>1">
            <span>Similar works:</span>
            <li *ngIf="paintings.link.length>1"><a [href]="paintings.link" target="_blank">{{enlace}}</a></li>
            <li *ngIf="paintings.link2.length>1"><a [href]="paintings.link2" target="_blank">{{enlace2}}</a></li>
          </ul>
          <a class="btn btn-lg btn-primary" href="https://wa.me/5491164816622">
            Enquire
         </a>
        </div>
     </div>
    </div>
  </section>
</main>
<div [innerHTML]="html"></div>
