<main class="update">
  <section class="adminupdatesection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="c-col col-12 col-sm-12 col-md-10 col-lg-8 enquiryform">
          <h2 class="center contactcolor">{{ title }}</h2>
          <h3 class="center contactcolor infocontact">{{ subtitle }}</h3>
          <form #paintingUpdateForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="formlabel" for="Titulo">Titulo</label>
              <input type="text" class="form-control" id="Titulo" placeholder="Titulo" maxlength="160" name="titulo"
                #titulo="ngModel" [(ngModel)]="paintings.titulo" required />
              <small style="color: rgb(201, 201, 201)" *ngIf="!titulo.valid && titulo.touched">Titulo no es
                valido</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Subtitulo">Subtitulo</label>
              <input type="text" class="form-control" id="Subtitulo" placeholder="Subtitulo" maxlength="160"
                name="subtitulo" #subtitulo="ngModel" [(ngModel)]="paintings.subtitulo" required />
              <small style="color: rgb(201, 201, 201)" *ngIf="!subtitulo.valid && subtitulo.touched">Subtitulo no es
                valido</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Descripcion">Descripcion</label>
              <textarea class="form-control" id="Descripcion" rows="10" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="paintings.descripcion" placeholder="Descripcion" required></textarea>
              <small style="color: rgb(201, 201, 201)" *ngIf="!descripcion.valid && descripcion.touched">Descripcion
                vacia</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Dimension">Dimension</label>
              <input type="text" class="form-control" id="Dimension" placeholder="Dimension" name="dimension"
                #dimension="ngModel" [(ngModel)]="paintings.dimension" required />
              <small style="color: rgb(201, 201, 201)" *ngIf="!dimension.valid && dimension.touched">Dimension no es
                valido</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Caracteristicas">Caracteristicas</label>
              <input type="text" class="form-control" id="Caracteristicas" placeholder="Caracteristicas"
                name="characteristics" #characteristics="ngModel" [(ngModel)]="paintings.characteristics" required />
              <small style="color: rgb(201, 201, 201)"
                *ngIf="!characteristics.valid && characteristics.touched">Caracteristicas no es valido</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Link">Link</label>
              <input type="text" class="form-control" id="Link" placeholder="link" name="link" #link="ngModel"
                [(ngModel)]="paintings.link" required />
              <small style="color: rgb(201, 201, 201)" *ngIf="!link.valid && link.touched">Link no es valido o es
                requerido</small>
            </div>
            <div class="form-group">
              <label class="formlabel" for="Link2">Segundo link</label>
              <input type="text" class="form-control" id="Link2" placeholder="Segundo link" name="link2"
                #link2="ngModel" [(ngModel)]="paintings.link2" />
            </div>
            <div class="form-group">
              <div *ngIf="is_update" style="margin-bottom: 12px">
                <label class="formlabel" for="Image">Imagen subida:</label>
                <div class="room-preview">
                  <picture *ngIf="paintings.image0url">
                  <img src="{{ paintings.image0url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=0)">X</div>
                  </picture>
                  <picture *ngIf="paintings.image1url">
                  <img src="{{ paintings.image1url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=1)">X</div>
                  </picture>
                  <picture *ngIf="paintings.image2url">
                  <img src="{{ paintings.image2url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=2)">X</div>
                  </picture>
                  <picture *ngIf="paintings.image3url">
                  <img src="{{ paintings.image3url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=3)">X</div>
                  </picture>
                  <picture *ngIf="paintings.image4url">
                  <img src="{{ paintings.image4url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=4)">X</div>
                  </picture>
                  <picture *ngIf="paintings.image5url">
                  <img src="{{ paintings.image5url }}" class="room-active"
                    alt="{{ paintings.titulo }}" />
                    <div (click)="deleteImg($event, index=5)">X</div>
                  </picture>
                </div>
              </div>
            </div>
              <angular-file-uploader [config]="afuConfig" (click)="loader()" (ApiResponse)="imageUpload($event)">
              </angular-file-uploader>
            <input type="submit" class="btn btn-light btncustomcontact boxshadow" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </section>
</main>