<section class="container">
  <div class="header-container text-center">
    <div>
      <header>
        <h2>Artworks</h2>
      </header>
      <p>Buying art is buying time of the artist's life.</p>
    </div>
  </div>
  <div class="flex">
    <div class="card" *ngFor="let painting of paintings; let last = last">
      <img appImgBroken [src]="painting.image0url" [alt]="painting.title" />
      <div class="card-body">
        <h3>{{painting.title}}</h3>
        <p>{{painting.subtitle}}</p>
        <a [routerLink]="['/painting/view/', painting._id]">See more</a>
      </div>
      <div *ngIf="last" #theLastList></div>
    </div>
  </div>
</section>

<div class="spinner">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>