form {
  width: 800px;

  input,
  textarea {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
    color: #f2f2f2;
  }

  label {
    color: #f2f2e2c4;
  }

  ::ng-deep .custom-dropdown {
    border: 2px solid #f2f2e2;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));

    .p-dropdown-label {
      color: #f2f2e2;
    }

    &:hover {
      outline: 4px solid #706c49;
      border-color: #655c28;
    }

    &.p-focus {
      border-color: #655c28;
      box-shadow: 0 0 0 0.2rem #fef5bf;
    }

    ul {
      background-color: #201e14;

      li {
        &.p-dropdown-item.p-highlight {
          background-color: #757575;
        }

        &:hover,
        &:focus {
          background-color: #655c28 !important;
          border-color: #655c28;
        }
      }
    }

    span {
      color: #f2f2e2c4;
    }
  }
}