@media (min-width:576px) {
  .left {
    order: 2;
  }
}

.effect {
  display: flex;
}

.card-body {
  color: white;
  padding: 20px;
  border: none;
  overflow: hidden;
}

.card-img-top {
  height: 500px;
  width: 100%;
  object-fit: contain;
  padding: 20px;
  border-radius: 10px;
}

.card {
  margin-bottom: 20px;
  background: linear-gradient(#1a1919, #0c0b0b, #1a1919) !important;
  background: -webkit-linear-gradient(#1a1919, #0c0b0b, #1a1919) !important;
  background: -moz-linear-gradient(#1a1919, #0c0b0b, #1a1919) !important;
  background: -o-linear-gradient(#1a1919, #0c0b0b, #1a1919) !important;
  white-space: normal;
  /* Animacion */
  opacity: 0;
  transform: scale(0.4);
  transition: all 1s linear;
}

.btn-dark {
  background-color: #0c0b0b !important;
}

a:first-of-type {
  text-decoration: none;
}

a:hover img {
  transform: scale(1.05);
  transition: 1s;
}

h2 {
  font-size: 20px;
}

button {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media(min-width:992px) {
  .card-title {
    height: 50px;
    margin-bottom: 20px;
  }

  .card-text {
    height: 50px;
    margin-bottom: 20px;
  }
}

.animacion {
  opacity: 1;
  transform: scale(1);
}