<!-- <div class="container">
  <div class="row justify-content-center">
    <ng-container>
      <div class="c-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 bg-white rounded-3 text-center">
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{ 
            'border-radius': '1rem',
            height: '320px',
            width: '340px',
           'margin': '1rem 0'
          }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{ 
            'border-radius': '1rem',
            height: '40px',
            width: '340px',
          'margin': '1rem 0 2rem 0'
          }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{ 
            'border-radius': '1rem',
            height: '24px',
            width: '340px',
          'margin-bottom': '2rem'
          }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse" [theme]="{ 
          'border-radius': '1rem',
          height: '40px',
          width: '340px'
        }">
        </ngx-skeleton-loader>
      </div>
    </ng-container>
  </div>
</div> 
<main id="home">
  <section class="homesection">
    <h1 class="center fontcolor" style="margin-top: 20px">{{ principal }}</h1>
    <p class="center" style="color: #bfbfbf">{{ subtitulo }}</p>
    <div class="container">
      <div class="row justify-content-center">
        <ng-container *ngFor="let painting of paintings; let i = index">
          <div class="c-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngIf="i + 1 === paintings.length"
            #theLastList>
            <a [routerLink]="['/painting/view/', painting._id]">
              <div class="card animacion">
                <img class="card-img-top" src="{{ painting.image0url }}" alt="{{ painting.titulo }}" />
                <div class="card-body">
                  <h2 class="card-title">{{ painting.titulo }}</h2>
                  <p class="card-text">{{ painting.subtitulo }}</p>
                  <button class="btn btn-dark">More information</button>
                </div>
              </div>
            </a>
          </div>
          <div class="c-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngIf="i + 1 !== paintings.length">
            <a [routerLink]="['/painting/view/', painting._id]">
              <div class="card animacion">
                <img class="card-img-top" src="{{ painting.image0url }}" alt="{{ painting.titulo }}" />
                <div class="card-body">
                  <h2 class="card-title">{{ painting.titulo }}</h2>
                  <p class="card-text">{{ painting.subtitulo }}</p>
                  <button class="btn btn-dark">More information</button>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</main>
-->

<main id="home" class="p-5">
  <section class="container">
    <h2 class="text-center py-3">{{ principal }}</h2>
    <p class="text-center" style="color: #707070">{{ subtitulo }}</p>
    <div class="container">
      <div class="row justify-content-center">
        <ng-container *ngFor="let painting of paintings; let i = index">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngIf="i + 1 === paintings.length"
            #theLastList>
            <a [routerLink]="['/painting/view/', painting._id]">
              <div class="product-card">
                <div class="badge">New</div>
                <div class="product-tumb">
                  <img [src]="painting.image0url" [alt]="painting.titulo">
                </div>
                <div class="product-details">
                  <span class="product-catagory">Paintings</span>
                  <h3><a [routerLink]="['/painting/view/', painting._id]">{{ painting.titulo }}</a></h3>
                  <p>{{ painting.subtitulo }}</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$96.00</small>$230.99</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngIf="i + 1 !== paintings.length">
            <a [routerLink]="['/painting/view/', painting._id]">
              <div class="product-card">
                <div class="badge">New</div>
                <div class="product-tumb">
                  <img [src]="painting.image0url" [alt]="painting.titulo">
                </div>
                <div class="product-details">
                  <span class="product-catagory">Paintings</span>
                  <h3><a [routerLink]="['/painting/view/', painting._id]">{{ painting.titulo }}</a></h3>
                  <p>{{ painting.subtitulo }}</p>
                  <div class="product-bottom-details">
                    <div class="product-price"><small>$96.00</small>$230.99</div>
                    <div class="product-links">
                      <a href=""><i class="fa fa-heart"></i></a>
                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</main>