.flex {
  .card {
    position: relative;

    &:hover {
      .centered {
        visibility: visible;
        opacity: 1;
        background: rgba(0, 0, 0, .282);
        padding: 8px;
      }
    }

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 260px;
      width: 260px;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      font-size: 12px;
      line-height: 20px;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-spacing: 0.22rem;
      font-size: 13px;
      padding: 10px;
    }
  }
}