@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* HTML */

html {
    scroll-behavior: smooth;
}


/* Body */

body {
    background-color: white !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

.router-animation {
    animation: show 2s;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:578px){
    .p-5{
        padding-left:1rem !important;
        padding-right:1rem !important;
    }
}