<main>
  <section>
    <div class="container">
      <div class="row rowresponsiveapi" *ngIf="painting">
        <div class="c-col col-12 col-sm-12 col-md-7 col-lg-7 sectorpaintings">
          <div class="card-group">
            <div class="card">
              <div class="room-gallery">
                <img appImgBroken class="gallery-highlight" [src]="painting.image0url" [alt]="painting.title" />
              </div>
            </div>
          </div>
        </div>
        <div class="c-col col-12 col-sm-12 col-md-5 col-lg-5 accordiondiv">
          <div id="accordion">
            <ul class="list-group list-group-flush">
              <li class="list-group-item backgroundtransparent fontwhite titlepaintings">
                <h2 class="colorfontart">{{ painting.title }}</h2>
              </li>
              <li class="list-group-item backgroundtransparent fontwhite titlepaintings">
                <h3 class="colorfontart2">{{ painting.subtitle }}</h3>
              </li>
              <li class="list-group-item backgroundtransparent fontwhite">
                <p class="no-margin">
                  <b>Dimensions:</b> {{ painting.dimension }}
                </p>
              </li>
              <li class="list-group-item backgroundtransparent fontwhite">
                <p class="no-margin">
                  <b>Characteristics:</b> {{ painting.characteristics }}
                </p>
              </li>
              <li class="list-group-item backgroundtransparent fontwhite" *ngIf="painting.link.length>1 || painting.link2.length>1">
                <p class="no-margin">Similar works:</p>
                <a *ngIf="painting.link.length>1" target="_blank" [href]="painting.link" class="linkpainting">
                  <span style="display: flex" class="no-margin">Visit {{ enlace }}</span>
                </a>
                <a *ngIf="painting.link2.length>1" target="_blank" [href]="painting.link2" class="linkpainting">
                  <span style="display: flex" class="no-margin">Visit {{ enlace2 }}</span>
                </a>
              </li>
            </ul>
            <ul class="no-margin">
              <li class="list-group-item backgroundtransparent" style="border: none">
                <a href="https://wa.me/5491164816622"><button class="btn btn-painting" value="Enquire">
                    Enquire
                  </button></a>
              </li>
            </ul>
            <ul class="no-margin">
              <li class="list-group-item backgroundtransparent" style="border: none">
                <div class="room-preview">
                  <img (click)="lightbox(0)" *ngIf="painting.image0url" [src]="painting.image0url"
                    class="room-active activo room-active-prevg" [alt]="painting.title" />
                  <img (click)="lightbox(1)" *ngIf="painting.image1url" [src]="painting.image1url"
                    class="room-active activo room-active-prevg" [alt]="painting.title" />
                  <img (click)="lightbox(2)" *ngIf="painting.image2url" [src]="painting.image2url"
                    class="room-active activo room-active-prevg" [alt]="painting.title" />
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-col col-12 sectorpaintings borderpaintings"></div>
        <div class="c-col col-12 col-sm-12 col-md-12 col-lg-12 sectorpaintings">
          <ul class="no-margin">
            <li class="list-group-item backgroundtransparent fontwhite"
              style="border: none; white-space: pre-line; text-align: justify;">
              {{ painting.description }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<div [innerHTML]="html"></div>