<main class="contact">
    <div class="container">
        <div class="row">
            <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>
            <div class="c-col col-12 col-sm-12 col-md-8 col-lg-8 enquiryform">
                <h2 class="center contactcolor">{{title}}</h2>
                <h3 class="center contactcolor infocontact">{{subtitle}}</h3>
                <form #paintingNewForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="formlabel" for="Titulo">Titulo</label>
                        <input type="text" class="form-control" id="Titulo" placeholder="Titulo" maxlength="120"
                            name="titulo" #titulo="ngModel" [(ngModel)]="paintings.titulo" required>
                        <small style="color:rgb(201, 201, 201);" *ngIf="!titulo.valid && titulo.touched">Titulo no es
                            valido</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Subtitulo">Subtitulo</label>
                        <input type="text" class="form-control" id="Subtitulo" placeholder="Subtitulo" maxlength="160"
                            name="subtitulo" #subtitulo="ngModel" [(ngModel)]="paintings.subtitulo" required>
                        <small style="color:rgb(201, 201, 201);" *ngIf="!subtitulo.valid && subtitulo.touched">Subtitulo
                            no es valido</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Descripcion">Descripcion primer parrafo</label>
                        <textarea class="form-control" id="Descripcion" rows="3" maxlength="250" name="descripcion"
                            #descripcion="ngModel" [(ngModel)]="paintings.descripcion" required></textarea>
                        <small style="color:rgb(201, 201, 201);"
                            *ngIf="!descripcion.valid && descripcion.touched">Descripcion esta vacio</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Descripcion2">Descripcion segundo parrafo</label>
                        <textarea class="form-control" id="Descripcion2" rows="3" maxlength="200" name="descripcion2"
                            #descripcion2="ngModel" [(ngModel)]="paintings.descripcion2"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Descripcion3">Descripcion tercer parrafo</label>
                        <textarea class="form-control" id="Descripcion3" rows="3" maxlength="200" name="descripcion3"
                            #descripcion3="ngModel" [(ngModel)]="paintings.descripcion3"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Descripcion4">Descripcion cuarto parrafo</label>
                        <textarea class="form-control" id="Descripcion4" rows="3" maxlength="200" name="descripcion4"
                            #descripcion4="ngModel" [(ngModel)]="paintings.descripcion4"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Descripcion5">Descripcion quinto parrafo</label>
                        <textarea class="form-control" id="Descripcion5" rows="3" maxlength="200" name="descripcion5"
                            #descripcion5="ngModel" [(ngModel)]="paintings.descripcion5"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Dimension">Dimension</label>
                        <input type="text" class="form-control" id="Dimension" placeholder="Dimension" maxlength="120"
                            name="dimension" #dimension="ngModel" [(ngModel)]="paintings.dimension" required>
                        <small style="color:rgb(201, 201, 201);" *ngIf="!dimension.valid && dimension.touched">Dimension
                            no es valido</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Caracteristicas">Caracteristicas</label>
                        <input type="text" class="form-control" id="Caracteristicas" placeholder="Caracteristicas"
                            maxlength="120" name="characteristics" #characteristics="ngModel"
                            [(ngModel)]="paintings.characteristics" required>
                        <small style="color:rgb(201, 201, 201);"
                            *ngIf="!characteristics.valid && characteristics.touched">Caracteristicas no es
                            valido</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Link">Link</label>
                        <input type="text" class="form-control" id="Link" placeholder="link" maxlength="250" name="link"
                            #link="ngModel" [(ngModel)]="paintings.link" required>
                        <small style="color:rgb(201, 201, 201);" *ngIf="!link.valid && link.touched">Link no es valido o
                            es requerido</small>
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Link2">Segundo link</label>
                        <input type="text" class="form-control" id="Link2" placeholder="Segundo link" maxlength="250"
                            name="link2" #link2="ngModel" [(ngModel)]="paintings.link2">
                    </div>
                    <div class="form-group">
                        <label class="formlabel" for="Image">Sube la imagen</label>
                        <angular-file-uploader [config]="afuConfig"
                        (ApiResponse)="imageUpload($event)">
                        </angular-file-uploader>
                    </div>
                    <input type="submit" class="btn btn-light btncustomcontact boxshadow" value="Submit"
                        [disabled]="paintingNewForm.invalid">
                </form>
            </div>
            <div class="c-col col-0 col-sm-0 col-md-2 col-lg-2"></div>
        </div>
    </div>
</main>