.parallax-window {
	background: transparent;
	padding:100px 35px;
}

.info{
	z-index:2;
	position:relative;
	font-size:36px;
}

.box{
	position:relative;
	width:170%;
	height:200px;
	transform-style: preserve-3d;
	animation: animate 40s linear infinite;
	margin-bottom:320px;
	margin-top:180px;
	margin-left:-80px;
}

@keyframes animate{
	0% {
		transform: perspective(1000px) rotateY(0deg)
	}
	100% {
		transform: perspective(1000px) rotateY(360deg)
	}
}

.box span{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-origin:center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit: cover;
	margin-left:10px;
}

h2{
	display:inline-block;
	position:relative;
	color:#b6b6b6;
}

h2::after,h2::before{
	content:'';
	position:absolute;
	width:120px;
	height:3px;
	background-color: currentColor;
	top:0.6em;
	transform:scale(0.5);
	transition: all 0.2s ease-in;
}

h2:hover::before, h2:hover::after {
	transform:scale(1);
}

h2::before{
	left:-140px;
}

h2::after {
	right:-140px;
}

@media(max-width:992px){
	h1{
		text-decoration: underline;
	}
	h2{
		text-decoration: underline;
	}
	h2::after,h2::before{
		content:'';
		position:absolute;
		width:120px;
		height:3px;
		background-color: currentColor;
		top:0.6em;
		transform:scale(0.5);
		transition: all 0.2s ease-in;
		display:none;
	}
	
	h2:hover::before, h2:hover::after {
		transform:scale(0);
	}
	
	h2::before{
		display:none;
	}
	
	h2::after {
		display:none;
	}
}

.container {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-around;
	position: relative;
	width: 100%;
  }
  .container section {
	width: 100%;
	height: 100vh;
	flex: 1;
	display: flex;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: #000;
  }

  .sectionsecabout{
	  margin-top:10px;
  }

  h1{
	font-size:36px;
	text-align:center;
  }
  .timeline{
	position:relative;
	margin:50px auto;
	padding:40px 0;
	width:1000px;
	box-sizing:border-box;
  }
  .timeline:before{
	content:'';
	position:absolute;
	left:50%;
	width:2px;
	height:100%;
	background:#c5c5c5;
  }
  .timeline ul{
	padding:0;
	margin:0;
  }
  .timeline ul li{
	list-style:none;
	position:relative;
	width:50%;
	padding:20px 40px;
	box-sizing:border-box;
  }
  .timeline ul li:nth-child(odd){
	float:left;
	text-align:right;
	clear:both;
  }
  .timeline ul li:nth-child(even){
	float:right;
	text-align:left;
	clear:both;
  }
  .content{
	padding-bottom:20px;
  }
  .timeline ul li:nth-child(odd):before
  {
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	top:24px;
	right:-6px;
	background:rgb(94, 94, 94);
	border-radius:50%;
	box-shadow:0 0 0 3px rgba(84, 84, 84, 0.2);
  }
  .timeline ul li:nth-child(even):before
  {
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	top:24px;
	left:-4px;
	background:rgb(94, 94, 94);
	border-radius:50%;
	box-shadow:0 0 0 3px rgba(84, 84, 84, 0.2);
  }
  .timeline ul li h2{
	padding:0;
	margin:0;
	color:#fff;
	font-weight:600;
  }
  .timeline ul li p{
	margin:10px 0 0;
	padding:0;
  }
  .timeline ul li .time h4{
	margin:0;
	padding:0;
	font-size:14px;
  }
  .timeline ul li:nth-child(odd) .time
  {
	position:absolute;
	top:12px;
	right:-165px;
	margin:0;
	padding:8px 16px;
	background:rgb(148, 143, 145);
	color:#fff;
	border-radius:18px;
	box-shadow:0 0 0 3px rgba(182, 182, 182, 0.3);
  }
  .timeline ul li:nth-child(even) .time
  {
	position:absolute;
	top:12px;
	left:-165px;
	margin:0;
	padding:8px 16px;
	background:rgb(148, 143, 145);
	color:#fff;
	border-radius:18px;
	box-shadow:0 0 0 3px rgba(182, 182, 182, 0.3);
  }
  @media(max-width:1000px)
  {
	.timeline{
	  width:100%;
	}
  }
  @media(max-width:767px){
	.timeline{
	  width:100%;
	  padding-bottom:0;
	}
	h1{
	  font-size:24px;
	  text-align:center;
	}
	.timeline:before{
	  left:20px;
	  height:100%;
	}
	.timeline ul li:nth-child(odd),
	.timeline ul li:nth-child(even)
	{
	  width:100%;
	  text-align:left;
	  padding-left:50px;
	  padding-bottom:50px;
	}
	.timeline ul li:nth-child(odd):before,
	.timeline ul li:nth-child(even):before
	{
	  top:-18px;
	  left:16px;
	}
	.timeline ul li:nth-child(odd) .time,
	.timeline ul li:nth-child(even) .time{
	  top:-30px;
	  left:50px;
	  right:inherit;
	}
  }

  .h2shadow{
	text-shadow: black 4px 4px 8px;
  }

  .subabout{
	font-style: italic;
	text-align:center;
	color: #b6b6b6;
    text-shadow: 4px 4px 8px black;
  }