form {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width:991px) {
    width: 720px;
  }

  @media (max-width:767px) {
    width: 100%
  }

  ::ng-deep .custom-pw {
    div {
      width: 100%;

      input {
        width: 100%;
        background-color: white;
        border: 2px solid #f2f2e2;
        color: black;

        &:hover {
          outline: 4px solid #706c49;
          border-color: #655c28;
        }

        &:focus {
          border-color: #655c28;
          box-shadow: 0 0 0 0.2rem #fef5bf;
        }
      }

      i {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  input {
    width: 100%;
    background-color: white;
    border: 2px solid #f2f2e2;
    color: black;

    &:hover {
      outline: 4px solid #706c49;
      border-color: #655c28;
    }

    &:focus {
      border-color: #655c28;
      box-shadow: 0 0 0 0.2rem #fef5bf;
    }
  }

  label {
    color: #f2f2e2c4;
  }
}